{% if errors is defined and errors is not empty %}
    <div class="alert alert-danger alert-dismissible">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if admin is null %}
    <div class="alert alert-danger alert-dismissible">
       <p>Administrateur introuvable. Veuillez rééssayer.</p>
    </div>
{% endif %}

{% if messageSucces is defined and messageSucces is not empty %}
    <div class="alert alert-success alert-dismissible">
        {{ messageSucces }}
    </div>
{% endif %}

<form class="" method="post">
    <div class="position-relative form-group">
        <label for="nom" class="">Nom</label>
        <input required name="nom" value="{% if admin.nom is not empty %}{{ admin.nom }}{% endif %}" id="nom" type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
        <label for="prenom" class="">Prénom</label>
        <input required name="prenom" value="{% if admin.prenom is not empty %}{{ admin.prenom }}{% endif %}" id="prenom" type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
        <label for="email" class="">Email</label>
        <input required name="email" {% if editForm is defined %}{{ "readonly" }}{% endif %} value="aaa@gmail.com" id="email" placeholder="Ex : nom.prenom@parter.com" type="email" class="form-control">
        {#<input required name="email" {% if editForm is defined %}{{ "read-only" }}{% endif %} value="{% if admin.email is not empty %}{{ admin.email }}{% endif %}" id="email" placeholder="Ex : nom.prenom@parter.com" type="email" class="form-control">#}
    </div>
    <div class="position-relative form-group">
        <label for="motdepasse" class="">Mot de passe</label>
        <input required name="motdepasse" value="{% if admin.motdepasse is not empty %}{{ admin.motdepasse }}{% endif %}" id="motdepasse" placeholder="Mot de passe" type="password" class="form-control">
    </div>
    <div class="position-relative form-group">
        <label for="correspondance" class="">Rôle correspondant</label>
        <select required name="correspondance" id="correspondance" class="form-control">
            <option value="">Choisir</option>
            <option {% if admin.correspondant is not empty and admin.correspondant == "PLANIFICATION" %} {{ "selected='selected'" }} {% endif %} value="PLANIFICATION">PLANIFICATION</option>
            <option {% if admin.correspondant is not empty and admin.correspondant == "FACTURATION" %} {{ "selected='selected'" }} {% endif %} value="FACTURATION">FACTURATION</option>
            <option {% if admin.correspondant is not empty and admin.correspondant == "SUPPORT" %} {{ "selected='selected'" }} {% endif %} value="SUPPORT">SUPPORT</option>
        </select>
    </div>
    <button class="mt-1 btn btn-primary">Enregistrer</button>
</form>