{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}

    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-science icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>Vos contacts chez Partenaire CENTER
                        <div class="page-title-subheading">Pour toutes questions, n'hésitez pas à nous contacter.
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            {% for unAdmin in admins %}
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="card-shadow-primary card-border mb-3 card">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner bg-dark">
                                <div class="menu-header-content">
                                    <div class="avatar-icon-wrapper mb-3 avatar-icon-xl">
                                        <div class="avatar-icon"><img
                                                    src="assets/images/avatars/avatar.png"
                                                    alt="Avatar 5"></div>
                                    </div>
                                    <div><h5 class="menu-header-title">{{ unAdmin.COC_ADMIN_nom ~ " " ~ unAdmin.COC_ADMIN_prenom }}</h5><h6 class="menu-header-subtitle">
                                            {{ unAdmin.COC_ADMIN_correspondant }}</h6></div>
                                    <div class="menu-header-btn-pane pt-1">
                                        <a href="http://localhost/PDO_Messagerie/public/support/{{ unAdmin.COC_ADMIN_id }}"><button class="btn-icon btn btn-warning btn-sm">Envoyer un message</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="bg-warm-flame list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">


                                        <div class="widget-content-left">
                                            <div class="widget-heading text-dark opacity-7" style="text-align:center;">
                                                {{ unAdmin.COC_ADMIN_email }}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="p-3"><h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                Derniers messages</h6>
                            <ul class="rm-list-borders list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3"><img width="42" class="rounded-circle"
                                                                                       src="assets/images/avatars/avatar.png"
                                                                                       alt=""></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Vous</div>
                                                <div class="widget-subheading">Demande d'informations</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="font-size-xlg text-muted">
                                                    <small class="opacity-5 pr-1">Aout</small>
                                                    <span>19</span>
                                                    <small class="text-danger pl-2">
                                                        <i class="fa fa-angle-down ">

                                                        </i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3"><img width="42" class="rounded-circle"
                                                                                       src="assets/images/avatars/avatar.png"
                                                                                       alt=""></div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Amanda</div>
                                                <div class="widget-subheading">Réponse à votre message</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="font-size-xlg text-muted">
                                                    <small class="opacity-5 pr-1">Aout</small>
                                                    <span>20</span>
                                                    <small class="text-info pl-2">
                                                        <i class="fa fa-angle-up ">

                                                        </i>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center d-block card-footer">
                            <button class="btn btn-info" onclick="document.location.href='support.php'">Voir les autres
                                messages
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>


{% endblock %}
