{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Liste des clients{% endblock %}

{% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-science icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>Clients
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>

        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Liste des clients</h5>

                        {% if messageError is defined and messageError is not empty %}
                            <div class="alert alert-danger alert-dismissible">
                                {{ messageError }}
                            </div>
                        {% endif %}

                        <table class="mb-0 table table-striped">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for unClient in clients %}
                                <tr>
                                    <td>{{ unClient.COC_CLIENT_nom }}</td>
                                    <td>{{ unClient.COC_CLIENT_prenom }}</td>
                                    <td>{{ unClient.COC_CLIENT_email }}</td>
                                    <td>
                                        <a data-toggle="tooltip" data-placement="top" title="Accéder à la messagerie" href="http://localhost/PDO_Messagerie/public/admin/support/{{ unClient.COC_CLIENT_id }}"><i class="fas fa-mail-bulk"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
